@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #784390;
  border: 2px solid #10142c;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #10142c;
  color: #784390;
  border: 2px solid #784390;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.disableCaret {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.projects-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 1000px;
}

.projects-div:hover {
  @apply bg-secondary dark:bg-[#020d18] scale-110 p-[5px] shadow-md;
}

.modal {
  height: 400px;
  width: 400px;
}

.floatRight {
  margin-left: auto;
  order: 2;
}

.customButton {
  @apply text-font1 dark:text-white border-2 border-font1 dark:border-white hover:bg-font2 hover:text-white hover:border-font2 dark:hover:bg-[#784390] dark:hover:border-[#784390];
}
